* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background */
body {
    font-family: 'Segoe UI', sans-serif;
    background:
        linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
        url('image.jpg') center/cover no-repeat fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form Container */
.form-container {
    width: 100%;
    max-width: 500px;
    padding: 15px 10px;
    border-radius: 20px;
    background: rgba(234, 224, 224, 0.18);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255,0.35);
    box-shadow: 0 25px 50px rgba(0,0,0,0.25);
}

/* Title */
h1 {
    text-align: center;
    margin-bottom: 8px;
    font-size: 2rem;
    font-weight: 700;
    color: #111;
}

/* Form Group */
.form-group {
    margin-bottom: 10px;
}

/* Labels */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 0.95rem;
    color: #222;
}

/* Inputs & Select */
input,
select {
    width: 100%;
    padding:10px 15px;   /* Increased height */
    border-radius: 12px;
    border: 1px solid #ddd;
    font-size: 1rem;      /* Slightly bigger text */
    background: #ffffff;
    transition: all 0.3s ease;
}

/* Remove browser red styling */
input:invalid,
select:invalid {
    box-shadow: none;
}

/* Focus Effect */
input:focus,
select:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 0 4px rgba(76,175,80,0.15);
}

/* Error State (only border, no red background) */
input.error,
select.error {
    border: 2px solid #f3eeee;
    background: #ffffff;
    box-shadow: 0 0 0 4px rgba(241, 237, 237, 0.15);
}

/* Button */
button {
    width: 100%;
    padding: 15px;
    margin-top: 12px;
    border-radius: 12px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background: linear-gradient(135deg, #4CAF50, #43a047);
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 30px rgba(76,175,80,0.4);
}

/* View Link */
.view-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    color: #1e88e5;
    text-decoration: none;
}

.view-link:hover {
    text-decoration: underline;
}

/* Required Star */
.required {
    color: #ece7e7;
}

/* Responsive */
@media (max-width: 480px) {
    .form-container {
        padding: 28px 22px;
    }
}